{% extends "base_tec.html" %}

{% load static %}
{% block titulo %}Bienvenido{% endblock %}
{% block contenido %}
    {% block encabezado %}
<div class="container mt-5 text-dark">
    <h1 class="display-4">¡Hola, Técnico</h1>
    <p class="lead">Bienvenido de al sistema de Helpdesk de Congreso de Estado de Veracruz</p>
</div>

    {% endblock %}

    <section class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Descripción del proyecto</h2>
                <p>
                    La plataforma de respaldos remotos es una herramienta diseñada para simplificar la gestión de respaldos entre servidores.
                    Los administradores pueden dar de alta servidores, configurar respaldos, y mantener un control eficiente de las operaciones.
                </p>
                <p>
                    Con funciones como la ejecución programada de respaldos y la visualización en tiempo real de los reportes, la plataforma optimiza
                    la administración de sistemas web, asegurando la integridad de los respaldos y la eficacia en la recuperación de datos.
                </p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imgs/halo.jpg' %}" alt="Imagen de Pruebas" class="img-fluid rounded">
            </div>
        </div>
    </section>

    <section class="bg-light mt-5 p-4">
        <div class="container">
            <h2 class="text-center">Requisitos Funcionales</h2>
            <ul>
                <li>Loguearse como sysadmin para acceder al sistema.</li>
                <li>Dar de alta servidores con información detallada.</li>
                <li>Configurar respaldos, especificando servidor origen y destino.</li>
                <li>Borrar configuraciones de respaldo del sistema y del servidor.</li>
                <li>Ejecutar respaldos de manera programada.</li>
                <li>Visualizar reportes de ejecución en tiempo real.</li>
            </ul>
        </div>
    </section>
{% endblock %}
