{% extends "base_tec.html" %}

{% load static %}
{% block titulo %}Bienvenido{% endblock %}
{% block contenido %}

<div class="container mt-5 text-dark">
    <h1 class="display-4">¡Hola, Soporte Técnico!</h1>
    <p class="lead">Bienvenido a tu interfaz del sistema de generación de tickets</p>
</div>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Descripción del sistema</h2>
            <p>
                Como miembro del equipo de soporte técnico, tu rol es esencial para la resolución eficiente de problemas reportados por los usuarios.
                Este sistema te permite gestionar tickets y proporcionar soluciones de manera efectiva.
            </p>
            <p>
                Puedes ver los detalles de los tickets asignados, actualizar su estado y comunicarte con los usuarios para resolver problemas.
            </p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'imgs/comp.jpeg' %}" alt="Panel de Soporte Técnico" class="img-fluid rounded">
        </div>
    </div>
</section>

<section class="bg-light mt-5 p-4">
    <div class="container">
        <h2 class="text-center">Funciones del Soporte Técnico</h2>
        <ul>
            <li>Ver y gestionar tickets asignados.</li>
            <li>Actualizar el estado de los tickets.</li>
            <li>Proporcionar soluciones y comunicarse con los usuarios.</li>
            <li>Registrar el tiempo de resolución y los detalles del problema.</li>
            <li>Acceder a un historial de tickets resueltos.</li>
        </ul>
    </div>
</section>
{% endblock %}
