<!DOCTYPE html>
<html lang="es-MX">
<head>
  <title>Error de CSRF Token</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Error de CSRF Token</div>
          <div class="card-body">
            <div class="alert alert-danger" role="alert">
              ¡Error! Ha ocurrido un error de CSRF Token. Por favor, inténtalo de nuevo.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
