{% extends "base_user.html" %}

{% load static %}
{% block titulo %}Bienvenido{% endblock %}
{% block contenido %}

<div class="container mt-5 text-dark">
    <h1 class="display-4 text-center">¡Hola, Usuario!</h1>
    <p class="lead text-center">Bienvenido a tu interfaz del sistema de generación de tickets</p>
</div>

<section class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2>Descripción del sistema</h2>
            <p>
                Este sistema te permite reportar problemas relacionados al area de TI eficientemente. 
            </p>

        </div>
        <div class="col-md-6 text-center">
            <img src="{% static 'imgs/palacio.jpg' %}" alt="Panel de Usuario" class="img-fluid rounded shadow">
        </div>
    </div>
</section>

<section class="bg-light mt-5 py-5">
    <div class="container">
        <h2 class="text-center mb-4">Funciones del Usuario</h2>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">Reportar problemas y generar tickets.</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="card bg-white shadow">
                    <div class="card-body">
                        <h5 class="card-title">Cómo utilizar el sistema</h5>
                        <p class="card-text">Para comenzar, dirígete a la sección "Solicitar un servicios" en el menú principal. Una vez allí, completa el formulario con los detalles del problema que deseas reportar. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

