{% extends "base_admin.html" %}

{% load static %}
{% block titulo %}Bienvenido{% endblock %}
{% block contenido %}

<div class="container mt-5 text-dark">
    <h1 class="display-4">¡Hola, Administrador!</h1>
    <p class="lead">Bienvenido a tu interfaz del sistema de generación de tickets</p>
</div>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Descripción del sistema</h2>
            <p>
                Este sistema está diseñado para gestionar eficientemente la generación de tickets para el Congreso del Estado de Veracruz.
                Como administrador, tienes acceso a funcionalidades avanzadas que te permitirán mantener el sistema funcionando sin problemas.
            </p>
            <p>
                Algunas de tus responsabilidades incluyen la creación de usuarios y áreas, la generación de nuevas contraseñas y la gestión de problemas reportados.
            </p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'imgs/palacio.jpg' %}" alt="Panel de Administrador" class="img-fluid rounded">
        </div>
    </div>
</section>

<section class="bg-light mt-5 p-4">
    <div class="container">
        <h2 class="text-center">Funciones del Administrador</h2>
        <ul>
            <li>Crear y gestionar usuarios.</li>
            <li>Crear y asignar nuevas áreas.</li>
            <li>Generar y restablecer contraseñas.</li>
            <li>Administrar y resolver problemáticas reportadas.</li>
            <li>Visualizar y analizar reportes de actividad del sistema.</li>
        </ul>
    </div>
</section>
{% endblock %}
