{% extends "base_admin.html" %}
{% load static %}
{% block scripts %}
<script src="{% static 'js/limpiar_messages.js' %}"></script>
{% endblock %}
{% block contenido %}
<section class="p-3 p-md-4 p-xl-5">
    <div class="container">
        <div class="card border-light-subtle shadow-sm">
            <div class="card-body p-3 p-md-4 p-xl-5">
                <div class="row">
                    <div class="col-12">
                        <h3>Cree una nueva área:</h3>
                    </div>
                </div>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                      {{ message }}
                    </div>
                  {% endfor %}
                </div>
                {% endif %}
            
                <form method="post" action="{% url 'alta-area' %}">
                    {% csrf_token %}
                    <div class="row gy-3 gy-md-4 overflow-hidden">
                        <div class="col-12">
                            <label for="id_area" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" name="area" id="id_area" placeholder="Nombre del área" required>
                        </div>
                        <div class="col-12">
                            <div class="d-grid">
                                <button class="btn bsb-btn-xl btn-primary" type="submit">Crear Área</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
