{% extends 'base.html' %}

{% block content %}
<h1>Lista de usuarios</h1>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nombre de usuario</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.last_name }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.rol }}</td>
            <td>
                <a href="{% url 'eliminar_usuario' usuario.pk %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
